title: "Iker Elvi"
email: "TU_EMAIL_AQUI"
description: "Audio Engineer — Music • Post-Production • Game Audio"
url: "https://ikerelvi.com"

markdown: kramdown
permalink: pretty

collections:
  projects:
    output: true
    permalink: /projects/:name/

defaults:
  - scope:
      path: ""
      type: "projects"
    values:
      layout: "project"

plugins:
  - jekyll-feed

# Opcional: si usas un repo de proyecto (no user site)
# baseurl: "/nombre-del-repo"
