title: "Iker Elvi"
email: "ikersa92@gmail.com"
description: "Music Production • Post-Production • Game Audio • Live Sound"
url: "https://ikerelvi.com"

markdown: kramdown
permalink: pretty

collections:
  projects:
    output: true
    permalink: /projects/:name/

defaults:
  - scope:
      path: ""
      type: "projects"
    values:
      layout: "project"

plugins:
  - jekyll-feed

# Opcional: si usas un repo de proyecto (no user site)
# baseurl: "/nombre-del-repo"
